In [2]:
import pandas as pd

In [3]:
#用户信息(users.dat表，数据无表目信息)
unames=['user_id','gender','age','occupation','zip']

In [4]:
users=pd.read_table('./ml-1m/users.dat',sep='::',header=None,names=unames,engine='python')

In [10]:
#评分信息
rnames = ['user_id','movie_id','rating','timestamp']

In [16]:
ratings=pd.read_table('./ml-1m/ratings.dat',sep='::',header=None,names=rnames,engine='python')

In [17]:

#电影信息
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('./ml-1m/movies.dat', sep='::', header=None, names=mnames, engine='python',encoding="ISO-8859-1")

In [8]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [18]:
data=pd.merge(pd.merge(ratings,users),movies)

In [19]:
mean_ratings=data.pivot_table('rating',index=["title"],columns=["gender"],aggfunc="mean")

In [20]:
mean_ratings

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [21]:
#分组过滤
ratings_by_title = data.groupby('title').size()

In [22]:
print(ratings_by_title)

title
$1,000,000 Duck (1971)                         37
'Night Mother (1986)                           70
'Til There Was You (1997)                      52
'burbs, The (1989)                            303
...And Justice for All (1979)                 199
                                             ...
Zed & Two Noughts, A (1985)                    29
Zero Effect (1998)                            301
Zero Kelvin (Kjærlighetens kjøtere) (1995)      2
Zeus and Roxanne (1997)                        23
eXistenZ (1999)                               410
Length: 3706, dtype: int64

In [23]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]

In [24]:
print(active_titles)

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [25]:
type(active_titles)

pandas.core.indexes.base.Index

In [26]:
type(ratings_by_title)

pandas.core.series.Series

In [27]:
#数据筛选
mean_ratings = mean_ratings.loc[active_titles]

In [28]:
type(mean_ratings)

pandas.core.frame.DataFrame

In [29]:
print(mean_ratings )

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

In [30]:
#数据排序
#查看男性观众喜欢的电影，可以按性别列进行降序操列
top_male_ratings = mean_ratings.sort_values(by= 'M',ascending=False)

In [31]:
type(top_male_ratings)

pandas.core.frame.DataFrame

In [32]:
print(top_male_ratings)

gender                                                     F         M
title
Godfather, The (1972)                               4.314700  4.583333
Seven Samurai (The Magnificent Seven) (Shichini...  4.481132  4.576628
Shawshank Redemption, The (1994)                    4.539075  4.560625
Raiders of the Lost Ark (1981)                      4.332168  4.520597
Usual Suspects, The (1995)                          4.513317  4.518248
...                                                      ...       ...
Speed 2: Cruise Control (1997)                      1.906667  1.863014
Superman IV: The Quest for Peace (1987)             2.216216  1.847458
Super Mario Bros. (1993)                            2.163636  1.820339
Grease 2 (1982)                                     2.243478  1.792553
Battlefield Earth (2000)                            1.574468  1.616949

[1216 rows x 2 columns]

In [33]:
#假设我们想要找出男性和女性观众分歧最大的电影。一个办法是给mean_ratings加上一个用于存放平均得分之差的列，并对其进行排序：
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [34]:
type(mean_ratings['diff'])

pandas.core.series.Series

In [35]:
sort_by_diff = mean_ratings.sort_values(by= 'diff',ascending=False)

In [36]:
type(sort_by_diff)

pandas.core.frame.DataFrame

In [37]:
sort_by_diff[:5]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787

In [38]:
#以下开始分析movielen20M

In [39]:
ratings=pd.read_csv('./ml-20m/ratings.csv',header=0)

In [40]:
type(ratings)

pandas.core.frame.DataFrame

In [41]:
movies = pd.read_csv('./ml-20m/movies.csv',header=0)

In [42]:
ratings[0:5]

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [43]:
movies[0:5]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [44]:
data = ratings.merge(movies,on='movieId') #区分大小写

In [45]:
type(data)

pandas.core.frame.DataFrame

In [46]:
rating_by_title=data.groupby('title').size()

In [47]:
print(rating_by_title)

title
"Great Performances" Cats (1998)                               155
#chicagoGirl: The Social Network Takes on a Dictator (2013)      3
$ (Dollars) (1971)                                              24
$5 a Day (2008)                                                 39
$9.99 (2008)                                                    55
                                                              ...
À propos de Nice (1930)                                          4
Árido Movie (2005)                                               1
Åsa-Nisse - Wälkom to Knohult (2011)                             2
Üvegtigris (2001)                                                1
貞子3D (2012)                                                      1
Length: 26729, dtype: int64

In [48]:
rating_by_title.sort_values(ascending=False)[:10]

title
Pulp Fiction (1994)                          67310
Forrest Gump (1994)                          66172
Shawshank Redemption, The (1994)             63366
Silence of the Lambs, The (1991)             63299
Jurassic Park (1993)                         59715
Star Wars: Episode IV - A New Hope (1977)    54502
Braveheart (1995)                            53769
Terminator 2: Judgment Day (1991)            52244
Matrix, The (1999)                           51334
Schindler's List (1993)                      50054
dtype: int64

In [49]:
#筛选一万以上的评论
active_title=rating_by_title.index[rating_by_title>=10000]

In [50]:
print(active_title)

Index(['10 Things I Hate About You (1999)', '12 Angry Men (1957)',
       '2001: A Space Odyssey (1968)', '28 Days Later (2002)', '300 (2007)',
       'A.I. Artificial Intelligence (2001)', 'Abyss, The (1989)',
       'Ace Ventura: Pet Detective (1994)',
       'Ace Ventura: When Nature Calls (1995)', 'Addams Family Values (1993)',
       ...
       'Wild Wild West (1999)', 'William Shakespeare's Romeo + Juliet (1996)',
       'Willy Wonka & the Chocolate Factory (1971)', 'Witness (1985)',
       'Wizard of Oz, The (1939)', 'X-Files: Fight the Future, The (1998)',
       'X-Men (2000)', 'X2: X-Men United (2003)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)'],
      dtype='object', name='title', length=462)

In [51]:
#得出这部分影片的平均分
mean_ratings=data.pivot_table('rating','title',aggfunc='mean')

In [52]:
print(mean_ratings)

                                                      rating
title
"Great Performances" Cats (1998)                    2.748387
#chicagoGirl: The Social Network Takes on a Dic...  3.666667
$ (Dollars) (1971)                                  2.833333
$5 a Day (2008)                                     2.871795
$9.99 (2008)                                        3.009091
...                                                      ...
À propos de Nice (1930)                             3.125000
Árido Movie (2005)                                  2.000000
Åsa-Nisse - Wälkom to Knohult (2011)                1.500000
Üvegtigris (2001)                                   3.000000
貞子3D (2012)                                         1.500000

[26729 rows x 1 columns]

In [53]:
mean_ratings=mean_ratings.loc[active_title]

In [54]:
print(mean_ratings)

                                         rating
title
10 Things I Hate About You (1999)      3.473909
12 Angry Men (1957)                    4.224138
2001: A Space Odyssey (1968)           3.955748
28 Days Later (2002)                   3.752424
300 (2007)                             3.672342
...                                         ...
X-Files: Fight the Future, The (1998)  3.328451
X-Men (2000)                           3.599009
X2: X-Men United (2003)                3.681243
You've Got Mail (1998)                 3.144028
Young Frankenstein (1974)              3.996785

[462 rows x 1 columns]

In [55]:
#按分数从多到少排序
mean_ratings.sort_values(by=['rating'],ascending=False)

                                         rating
title
Shawshank Redemption, The (1994)       4.446990
Godfather, The (1972)                  4.364732
Usual Suspects, The (1995)             4.334372
Schindler's List (1993)                4.310175
Godfather: Part II, The (1974)         4.275641
...                                         ...
Ace Ventura: When Nature Calls (1995)  2.607412
Congo (1995)                           2.604744
Coneheads (1993)                       2.593559
Judge Dredd (1995)                     2.538285
Wild Wild West (1999)                  2.292716

[462 rows x 1 columns]

In [56]:
#评论数与评分差距较大的电影
rating_std_by_title=data.groupby('title')['rating'].std()
rating_std_by_title.sort_values(ascending=False)

title
Quatsch und die Nasenbärbande (2014)                                       3.181981
Uwasa No Onna (The Woman in the Rumor) (Her Mother's Profession) (1954)    3.181981
Bright Victory (1951)                                                      3.181981
Willie & Phil (1980)                                                       3.181981
Apostle Peter and The Last Supper (2012)                                   2.828427
                                                                             ...
alaskaLand (2013)                                                               NaN
i hate myself :) (2013)                                                         NaN
Árido Movie (2005)                                                              NaN
Üvegtigris (2001)                                                               NaN
貞子3D (2012)                                                                     NaN
Name: rating, Length: 26729, dtype: float64